<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Thema/assets/images/Dükkan.png", "/Thema/assets/images/cam.jpg","/Thema/assets/images/bungalow.jpg", "/Thema/assets/images/orman2.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Birlikte Hayallerinizi Gerçeğe Dönüştürüyoruz</h3>
                     
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>