<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Thema/assets/images/Dükkan.png", "/Thema/assets/images/kereste.jpg","/Thema/assets/images/cardak.jpeg", "/Thema/assets/images/ahsapev.jpeg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Siz Hayal Edin Biz Yapalım...</h3>
                     
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>