<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/Admin/dist/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/Admin/dist/assets/images/logo-dark.png" alt="" height="20">
            </span>
        </a>

        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/Admin/dist/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/Admin/dist/assets/images/logo-light.png" alt="" height="20">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="index.html">
                        <i class="uil-home-alt"></i><span class="badge rounded-pill bg-primary float-end"></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>Düzenlemeler</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a asp-controller="About" asp-action="Index">Hakkımda</a></li>
                        <li><a asp-controller="Service" asp-action="Index">Hizmetler</a></li>
                        <li><a asp-controller="Work" asp-action="Index">Projeler</a></li>
                        <li><a asp-controller="Skıll" asp-action="Index">Yetenekler</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>


                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-blogger-alt"></i>
                        <span>Blog</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a asp-controller="BlogCategory" asp-action="Index">Blog Kategorileri</a></li>
                        <li><a asp-controller="BlogDetails" asp-action="Index">Blog Listesi</a></li>
                        <li><a asp-controller="BlogDetails" asp-action="AddDetails">Blog Oluştur</a></li>



                    </ul>
                </li>
                <li><a class="uil-comment-alt-message" asp-controller="Message" asp-action="Index">Gelen Mesajlar</a></li>

                <li><a class="uil-sliders-v-alt" asp-controller="Category" asp-action="Index"> Ayarlar</a></li>
                <li><a class="uil-sign-out-alt" asp-controller="Category" asp-action="Index"> Çıkış Yap</a></li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>