@model List<Product>
<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">Ana Sayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about.html">Hakkımızda</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Hizmetler<span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                @foreach (var item in Model)
                {
                    <a class="dropdown-item" href="blog.html">@item.Title</a>
                }
              
           
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="pricing.html">Projelerimiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="services.html">Blog</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="contact.html">İletişim</a>
        </li>

    </ul>
</div>
<div class="d-lg-block d-none">
    <a href="contact.html" class="btn btn-style btn-secondary">Teklif Al</a>
</div>