@model List<Product>
<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Default" asp-action="Index">Ana Sayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="About" asp-action="Index">Hakkımızda</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Hizmetler<span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                @foreach (var item in Model)
                {
                    <a class="dropdown-item" href=" @Url.Action("Index", "Product", new { id = item.Id })">@item.Title</a>
                }
              
           
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link"asp-controller="Gallery" asp-action="Index" >Projelerimiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Question" asp-action="Index">S.S.S</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Contact" asp-action="Index">İletişim</a>
        </li>

    </ul>
</div>
<div class="d-lg-block d-none">
    <a href="https://wa.me/+905072920954" target="_blank" class="btn btn-style btn-secondary">Teklif Al</a>
</div>