<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Thema/assets/images/banner1.jpg", "/Thema/assets/images/banner2.jpg","~/Thema/assets/images/banner3.jpg", "~/Thema/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>You don't need to go far to find what matters.</h3>
                        <h6 class="mb-3">Discover your next adventure</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>